
 <nav>
  <ul> 
 </ul>
</nav> 
<header>
  <!-- <div class="logo-container">
    <a routerLink="/">
      <img src="assets/logo8.jpeg" alt="Logo" class="logo-img">
    </a>
  </div> -->
  <nav class="navbar">
    <!-- <li class="nav-item logo">
      <a  routerLink="/">
        <img src="assets/logo8.jpeg" alt="Logo" class="logo-img">
      </a>
    </li> -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a routerLink="/allrecipes" routerLinkActive="active">AllRecipes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
      @if (!userService.token) {
      <li class="nav-item">
        <a  routerLink="login" (click)="logout()"  routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a   routerLink="register"  routerLinkActive="active">Register</a>
      </li>
    }
    <li class="nav-item">
      <a   routerLink="addRecipe"  routerLinkActive="active">Add-Recipe</a>
    </li>
      @if (userService.currentUser?.role === 'admin') {
      <li class="nav-item">
        <a routerLink="allusere" routerLinkActive="active">All-Users</a>
      </li>
    }

    <!-- @if (!isConected) {
      <li class="nav-item">
        <a (click)="logout()" routerLinkActive="active">Logout</a>
      </li>
    } -->


   <mat-icon class="nav-icon"   [style.cursor]="currentUser ? 'pointer' : 'default'"
   style="color: white; position: absolute; right: 2%;"  (click)="toggleProfile()">
    {{ getUserIcon() }}
  </mat-icon>

  @if(showProfile){
    <mat-card class="profile-container">
      <mat-card-content class="profile-details">
        <button class="close-button" (click)="toggleProfile()">×</button>
        <div class="profile-header">
          <div class="profile-info">
            <p><strong>Username: {{userService.currentUser?.username }}</strong></p>
            <p><strong>City: {{ userService.currentUser?.city }}</strong></p>
            <p><strong>Email: {{ userService.currentUser?.email }}</strong></p>
            <p><strong>Role: {{ userService.currentUser?.role }}</strong></p>
          </div>
        </div>
        <button mat-button class="logout-button" (click)="logOut()">Logout</button>
      </mat-card-content>
    </mat-card>
}
@if(showLogin){
  <mat-card class="profile-container">
    <mat-card-content class="profile-details">
      <button class="close-button" (click)="showLoginUser()">×</button>
      <button mat-button class="logout-button" (click)="loginUser()">Login</button><br/>
      <button mat-button class="logout-button" (click)="registerUser()">register</button>
    </mat-card-content>
  </mat-card>
}
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>